{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'restaurant/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <h1>LAO BA's Secret Little Burger</h1>
                    <li><a href="{% url 'main' %}">Main</a></li>
                    <li><a href="{% url 'order' %}">Order</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Django App. All rights reserved.</p>
    </footer>
</body>
</html>
